/Femo/nbproject/private/
/Employees/nbproject/private/
/Employees/build/
/Employees/dist/
/AR-Khan-Bank/nbproject/private/
/AR-Khan-Bank/dist/
/AR-Khan-Bank/build/
/MidExam/nbproject/private/
/MidExam/dist/
/MidExam/build/
